# Ignore all potential secrets files
*secrets*

# Ignore backup disk config
*hetzner*

# Ignore cert stuff
#*cert*

# Ignore all environment files
*.env
.direnv

# Ignore backup files
*bak*

# Ignore home-manager results
result
